@font-face { font-family: Mantinia; src: url('./assets/fonts/Mantinia\ Regular.otf'); } 
@font-face { font-family: Garamond; src: url('./assets/fonts/AppleGaramond.ttf'); } 

body, html {
  height: 100%; 
  width: 100%;
  background-color: white;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'monospace';
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: white;
  text-decoration: none;
}
span {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}
.eldenFont {
  font-family: Mantinia; 
  font-size: 80px; 
  color: #beab7e
}
.hcustom {
  font-size: 25px;
  margin-bottom: 15px;
}
.h3 {
  font-size: 20px;
}
.h3b {
  color: black;
  font-size: 20px;
}
.h4 {
  font-size: 15px;
}

#background {
  position: fixed;
  filter: blur(10px);
  transform: scale(1.05); 
  width: 100%;
}
#backgroundGameOver {
  position: fixed;
  filter: blur(4px);
  transform: scale(1.05); 
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

.menuContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
#menuElementContainer {
  width: 40%; 
  height: 100%;
  background-color: black;
  border: solid 2px;
  border-color: #beab7e;
  opacity: .9;
  padding-top: 3%;
  border-bottom: none;
  border-top: none;
}
#menu {
  color: rgb(255, 255, 255);
  font-size: 5em;
  font-weight: bold;
}
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#customMenu {
  display: none;
}
#leaderboardMenu {
  display: none;
}

#playScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

#menu {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
#screen {
  width: 100%;
  height: 690px;
  position: fixed;
  object-fit: contain;
  left: 0;

  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#loading {
  width: 100%;
  height: 200px;
  object-fit: contain;

  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
#loadingContent {
  display: flex; 
  align-items: center; 
  width: 100%; 
  height: 100%;
  animation-duration: 1.5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ruban {
  background-color: black;
  height: 8%;
  width: 100%;
  opacity: .85;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}


.playContainer {
  width: 80%;
  height: 700px;
  border: 1px solid #beab7e;
  z-index: 1;
  display: flex;
}

#map {
  background-color: black;
  z-index: 9999;
  display: none;
}
#image {
  z-index: 1;
  background-color: black;
  opacity: 1;
  position: relative;
  display: none;

  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
#logoName {
  width: 65%;
}
#logoApp {
  width: 80%;
}
#logoLine {
  width: 50%;
}

.bottomFlex {
  height: 100%; 
  width: 100%; 
  display: flex; 
  align-items: flex-end;
}
#bottomButtons {
  width: 1500px;
  height: 75px;
  display: flex;
  z-index: 9990;
  position: absolute;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}
.button {
  background: rgb(203,181,129);
  background: linear-gradient(0deg, rgba(203,181,129,1) 0%, rgba(231,188,88,1) 100%);
  height: 100%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  z-index: 9999;
  box-shadow: 2px 2px 2px black;
  transition: transform .2s;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
#play {
  width: 200px;
  height: 150px;
}
#playCustom {
  width: 15%;
  height: 70px;
  border-radius: 0px;
  position: absolute;
  bottom: 13%;
}
#guess {
  width: 200px;
  background:rgb(141, 141, 141);
  cursor: not-allowed;
}
#review {
  width: 225px;
  margin-right: 10px
}
#leaderbord {
  width: 200px;
}
#makeGuess {
  width: 175px;
  margin-right: 10px;
}
#next {
  width: 200px;
  display: none;
}
#submit {
  width: 200px;
  height: 50%;
}
#playAgain {
  width: 200px;
  height: 50%;
  margin-right: 50px;
}
#play {
  width: 50%;
  height: 50px;
  margin-top: 10%;
  border-radius: 0px;
}
#custom {
  width: 50%;
  height: 50px;
  margin-top: 5%;
  border-radius: 0px;
}
#leaderboardBtn {
  width: 50%;
  height: 50px;
  margin-top: 5%;
  border-radius: 0px;
}
#multiplayer {
  width: 50%;
  height: 50px;
  margin-top: 5%;
  border-radius: 0px;
  background:rgb(141, 141, 141)
}
#back {
  width: 10%;
  height: 50px;
  position: absolute;
  bottom: 5%;
  border-radius: 0px;
}
#back2 {
  width: 10%;
  height: 50px;
  position: absolute;
  bottom: 5%;
  border-radius: 0px;
}
.multiButton {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  margin-bottom: 30px;
}
.multiButtonLeft {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgb(203,181,129);
  transition: transform 0.2s;
}
.multiButtonCenter {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(203,181,129);
  transition: transform 0.2s;
}
.multiButtonRight {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(203,181,129);
  transition: transform 0.2s;
}
.multiButtonSeparation {
  background: black;
  height: 100%;
  width: 1px;
}
.multiButtonLeft:hover {
  transform: scale(1.1);
  transform: translate(0, -5px);
}
.multiButtonCenter:hover {
  transform: scale(1.1);
  transform: translate(0, -5px);
}
.multiButtonRight:hover {
  transform: scale(1.1);
  transform: translate(0, -5px);
}

#nameLocation {
  background-color: black;
  color: white;
  display: none;
  align-items: center;
  border-radius: 15px;
  padding: 0px 10px;
  text-shadow: black 0 0 20px;
  box-shadow: black 0 0 10px;
  background: rgba(1,1,1,0.8);
  font-size: 2rem;
}
#nameContainer {
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: center;
  position: absolute;
  z-index: 9000;
  margin-bottom: 20px;
}

.gameOverContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 300px;
  border: 3px solid #beab7e;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

#mousePosition {
  right: 0;
  bottom: 20px;
  position: absolute;
  font-size: 1rem;
  margin-right: 5px;
  z-index: 9999;
}
#underground {
  right: 0;
  right: 10px;
  top: 2%;
  position: absolute;
  font-size: 1rem;
  margin-right: 5px;
  height: 15%;
  width: 8%;
  z-index: 9999;
  border: solid 2px;
  border-radius: 20px;
  border-color: #beab7e;
  transition: transform .2s;
}
#underground:hover {
  transform: scale(1.05); 
}
#imageUnderground {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

#leaderboardContainer {
  padding: 10px;
  display: none;
  flex-direction: column;
  right: 0;
  color: white;
  height: 100%;
  opacity: 1;
  width: 50%;
  position: absolute;
  font-size: 1rem;
  background-color: black;
}

.leaderboardElement {
  display: flex;
  flex-direction: row;
  width: 100%; 
  display: flex;
}
#credit {
  position: absolute; 
  bottom: 20px; 
  font-size: 15px;
  font-weight: normal;
}
#email {
  position: absolute; 
  bottom: 45px; 
  font-size: 15px;
  font-weight: normal;
}

#leaderboardRender {
  margin-top: 5%;
  font-size: 20px;
  width: 60%;
}

.timerContainer {
  height: 10%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 9990;
}
#timerOnImage {
  display: none;
}
#timerOnMap {
  display: none;
}
.timer {
  height: 100%;
  width: 10%;
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-shadow: black 0 0 20px;
  box-shadow: black 0 0 10px;
  background: rgba(1,1,1,0.8);
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}